.apprated {
  margin-bottom: 0px;
  padding-top: 110px;
  padding-bottom: 110px;
}

.maintitle {
  font-size: 29px;
  text-align: left;
  margin-bottom: -30px;
}

.department{
  display: inline-block;
}