.appstarted {
  margin-bottom: 0px;
  padding-top: 110px;
  padding-bottom: 110px;
  background-position: center;
  background-image: url('../../../assets/images/Gridweb.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.maintitle {
  margin-top: 0px;
  margin-bottom: 30px;
  color: #ffffff;
  text-align: left;
}

.vc_btn3-container {
  display: block;
  margin-bottom: 21.74px;
  max-width: 100%;
}

.wpb_row{
  margin-bottom:unset;
}
