<div class="vc_row wpb_row vc_row-fluid branded-background appstarted">
  <div class="row">
    <div class="h-padding-0 wpb_column col-sm-12">
      <div class="wrapper">
        <div class="vc_row wpb_row vc_inner vc_row-fluid container columns-offset-30-max-width-768">
          <div class="row">
            <div class="wpb_column vc_column_container col-sm-12 col-md-6">
              <div class="wpb_wrapper">
                <h1 class="vc_custom_heading maintitle">Ready to get started</h1>
                <div class="wpb_content_element  dark large">
                  <div class="wpb_wrapper">
                    <p>Every day billions of people struggle for better healthcare. We want to change that. Globally.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-12 col-md-1">
            <div class="wpb_wrapper">
              </div>
              </div>
            <div class="wpb_column vc_column_container col-sm-12 col-md-4">
              <div class="wpb_wrapper">
                <div class="vc_btn3-container vc_btn3-center">
                <button style="background-color:#3f51b5; color:#ffffff;" class="vc_general vc_btn3 vc_btn3-size-lg vc_btn3-shape-square vc_btn3-style-custom vc_btn3-block vc_btn3-icon-left"><i class="vc_btn3-icon fa fa-facebook"></i> Signup with Facebook</button>
                </div>
                <div class="vc_btn3-container vc_btn3-center">
                <button style="background-color:#e54f22; color:#ffffff;" class="vc_general vc_btn3 vc_btn3-size-lg vc_btn3-shape-square vc_btn3-style-custom vc_btn3-block vc_btn3-icon-left"><i class="vc_btn3-icon fa fa-google-plus"></i> Signup with Google+</button>
                </div>
              </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-12 col-md-1">
            <div class="wpb_wrapper"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
