<div class="vc_row wpb_row vc_row-fluid branded-background vc_custom_1454170218970">
  <div class="row">
    <div class="h-padding-0 wpb_column vc_column_container col-sm-12">
      <div class="wpb_wrapper">
        <div class="vc_row wpb_row vc_inner vc_row-fluid container columns-offset-30-max-width-768 patient_mainframe">
          <div class="row">
            <div class="wpb_column vc_column_container col-sm-6 wpb_wrapper">
              <div class="">
                <h2 class="vc_custom_heading patients_title">Free for Patients (always)</h2>
                <div class="wpb_text_column wpb_content_element  dark normal">
                  <div class="wpb_wrapper">
                    <p>You can make all your healthcare appointments through any internet connection device, at any time of the day or night, with just a few clicks.</p>

                  </div>
                </div>
              </div>
              <div>
                <div class="wpb_text_column wpb_content_element  patients_check dark normal">
                  <div class="wpb_wrapper">
                    <ul>
                      <li>Search Online Health Directory</li>
                      <li>Book an Appointment for Free</li>
                      <li>Review your Doctor</li>
                    </ul>

                  </div>
                </div>
                <div class="entry  package dark">
                  <div class="entry-data">
                    <div class="entry-header">
                      <div class="entry-extra">$</div>
                      <div class="entry-title">0,</div>
                      <div class="entry-meta">00</div>
                    </div><!-- header -->
                    <div class="entry-footer"><a class="" href="#">Free sign up</a></div>
                  </div><!-- data -->
                </div><!-- entry -->
              </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
              <div class="wpb_wrapper">
                <h2 class="vc_custom_heading pratice_title">I'am practice</h2>
                <div class="wpb_text_column wpb_content_element  dark normal">
                  <div class="wpb_wrapper">
                    <p>Whether you want to grow your patient base, retain existing patients or discover tools to make your practice more efficient, Medic’s online solution can help.</p>

                  </div>
                </div>

                <div class="wpb_text_column wpb_content_element  practice_check dark normal">
                  <div class="wpb_wrapper">
                    <ul>
                      <li>Get new patients easily</li>
                      <li>Keep your patients satisfied</li>
                      <li>Save Money, Make Money</li>
                    </ul>

                  </div>
                </div>
                <div class="entry  package dark">
                  <div class="entry-data">
                    <div class="entry-header">
                      <div class="entry-extra">$</div>
                      <div class="entry-title">9,</div>
                      <div class="entry-meta">99</div>
                    </div><!-- header -->
                    <div class="entry-content">
                      <p>month</p>
                    </div>
                    <div class="entry-footer"><a class="" href="#">Free trial</a></div>
                  </div><!-- data -->
                </div><!-- entry -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
