<div id="quaternary" class="sidebar-container " role="complementary">
  <div class="sidebar-inner">
    <div class="widget-area clearfix">
      <div id="vc_widget-2" class="widget-1 widget-first widget-last widget-odd widget widget_vc_widget">
        <div class="scoped-style">
          <div class="vc_row wpb_row vc_row-fluid branded-background vc_custom_1454169799683">
            <div class="row">
              <div class="h-padding-0 wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
                  <div class="vc_row wpb_row vc_inner vc_row-fluid container">
                    <div class="row">
                      <div class="wpb_column vc_column_container col-sm-2"><div class="wpb_wrapper"></div></div>
                      <div class="wpb_column vc_column_container col-sm-8">
                        <div class="wpb_wrapper">
                          <div class="carousel-wrapper  testimonials">
                                  <app-text-carousel></app-text-carousel>

                          </div>                          
                        </div>
                      </div>
                      <div class="wpb_column vc_column_container col-sm-2"><div class="wpb_wrapper"></div></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_row-fluid vc_custom_1454001277218">
            <div class="row">
              <div class="h-padding-0 wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
                  <div class="vc_row wpb_row vc_inner vc_row-fluid container v-align-columns columns-offset-30-max-width-768">
                    <div class="row">
                      <div class="wpb_column vc_column_container col-sm-8">
                        <div class="wpb_wrapper">
                          <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                              <h4><span style="color: #ffffff;">Submit an inquiry today or call 080-free-tool to speak with one of our friendly staff.</span></h4>

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="wpb_column vc_column_container col-sm-4">
                        <div class="wpb_wrapper">
                          <div class="vc_btn3-container vc_btn3-right">
                            <button style="background-color:#ffffff; color:#000000;" class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-square vc_btn3-style-custom vc_btn3-block">Inquire Now</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_row-fluid container columns-offset-20-max-width-768 vc_custom_1454001772785">
            <div class="row">
              <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
                  <h4 style="text-align: left" class="vc_custom_heading vc_custom_1454002064707">About</h4>
                  <div class="wpb_text_column wpb_content_element  vc_custom_1454002266605 small">
                    <div class="wpb_wrapper">
                      <p>
                        Call. +0080 2220 123<br>
                        Email. hello@yourmail.com<br>
                        142 Chesterfield Housery Street, Melburne<br>
                        MIO 3022, Australia
                      </p>

                    </div>
                  </div>
                  <div class="panel  social">
                    <div class="panel-content">
                      <div class="entry ">
                        <div class="entry-icon"><a class="" href="#"><span class="fa fa-facebook"></span></a></div>
                        <div class="entry-data">
                          <div class="entry-header"></div><!-- header -->
                        </div><!-- data -->
                      </div><!-- entry -->
                      <div class="entry ">
                        <div class="entry-icon"><a class="" href="#"><span class="fa fa-twitter"></span></a></div>
                        <div class="entry-data">
                          <div class="entry-header"></div><!-- header -->
                        </div><!-- data -->
                      </div><!-- entry -->
                      <div class="entry ">
                        <div class="entry-icon"><a class="" href="#"><span class="fa fa-google-plus"></span></a></div>
                        <div class="entry-data">
                          <div class="entry-header"></div><!-- header -->
                        </div><!-- data -->
                      </div><!-- entry -->
                    </div>
                  </div>
                </div>
              </div><div class="wpb_column vc_column_container col-sm-8">
                <div class="wpb_wrapper">
                  <div class="vc_row wpb_row vc_inner vc_row-fluid columns-offset-30-max-width-768">
                    <div class="row">
                      <div class="wpb_column vc_column_container col-sm-3">
                        <div class="wpb_wrapper">
                          <div class="vc_wp_custommenu wpb_content_element">
                            <div class="widget widget_nav_menu">
                              <h2 class="widgettitle">Patients</h2><div class="menu-bottom-container">
                                <ul id="menu-bottom" class="menu vc">
                                  <li id="menu-item-114" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-114"><a href="http://azexo.com/medican/team/" class="menu-link">Team</a></li>
                                  <li id="menu-item-115" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-115"><a href="http://azexo.com/medican/about-us/" class="menu-link">About us</a></li>
                                  <li id="menu-item-116" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116"><a href="http://azexo.com/medican/pricing/" class="menu-link">Pricing</a></li>
                                  <li id="menu-item-117" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117"><a href="http://azexo.com/medican/service-list/" class="menu-link">Service list</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div><div class="wpb_column vc_column_container col-sm-3">
                        <div class="wpb_wrapper">
                          <div class="vc_wp_custommenu wpb_content_element">
                            <div class="widget widget_nav_menu">
                              <h2 class="widgettitle">Practices</h2><div class="menu-bottom-container">
                                <ul id="menu-bottom-1" class="menu vc">
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-114"><a href="http://azexo.com/medican/team/" class="menu-link">Team</a></li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-115"><a href="http://azexo.com/medican/about-us/" class="menu-link">About us</a></li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116"><a href="http://azexo.com/medican/pricing/" class="menu-link">Pricing</a></li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117"><a href="http://azexo.com/medican/service-list/" class="menu-link">Service list</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div><div class="wpb_column vc_column_container col-sm-3">
                        <div class="wpb_wrapper">
                          <div class="vc_wp_custommenu wpb_content_element">
                            <div class="widget widget_nav_menu">
                              <h2 class="widgettitle">Company</h2><div class="menu-bottom-container">
                                <ul id="menu-bottom-2" class="menu vc">
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-114"><a href="http://azexo.com/medican/team/" class="menu-link">Team</a></li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-115"><a href="http://azexo.com/medican/about-us/" class="menu-link">About us</a></li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116"><a href="http://azexo.com/medican/pricing/" class="menu-link">Pricing</a></li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117"><a href="http://azexo.com/medican/service-list/" class="menu-link">Service list</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div><div class="wpb_column vc_column_container col-sm-3">
                        <div class="wpb_wrapper">
                          <div class="vc_wp_custommenu wpb_content_element">
                            <div class="widget widget_nav_menu">
                              <h2 class="widgettitle">Links</h2><div class="menu-bottom-container">
                                <ul id="menu-bottom-3" class="menu vc">
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-114"><a href="#1" class="menu-link">Team</a></li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-115"><a href="#2" class="menu-link">About us</a></li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116"><a href="#3" class="menu-link">Pricing</a></li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117"><a href="#4" class="menu-link">Service list</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_row-fluid vc_custom_1453972047716">
            <div class="row">
              <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
                  <div class="vc_row wpb_row vc_inner vc_row-fluid container columns-offset-30-max-width-768">
                    <div class="row">
                      <div class="wpb_column vc_column_container col-sm-8">
                        <div class="wpb_wrapper">
                          <div class="vc_wp_custommenu wpb_content_element flat">
                            <div class="widget widget_nav_menu">
                              <div class="menu-bottom-container">
                                <ul id="menu-bottom-4" class="menu vc">
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-114"><a href="#1" class="menu-link">Team</a></li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-115"><a href="#2" class="menu-link">About us</a></li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116"><a href="#3" class="menu-link">Pricing</a></li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117"><a href="#4" class="menu-link">Service list</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div><div class="wpb_column vc_column_container col-sm-4">
                        <div class="wpb_wrapper">
                          <div class="wpb_text_column wpb_content_element  accent responsive-align-center">
                            <div class="wpb_wrapper">
                              <p style="text-align: right;">All rights reserved @ CodenPixel</p>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- .widget-area -->
  </div><!-- .sidebar-inner -->
</div>
