<div class="vc_row wpb_row vc_row-fluid gray-background appfind">
  <div class="row">
    <div class="h-padding-0 wpb_column col-sm-12">
      <div class="wpb_wrapper">
        <h2 class="vc_custom_heading maintitle">Find a Doctors and Book appointments online instantly!</h2>
        <div class="wpb_content_element subtitle large">
          <div class="wpb_wrapper">
            <p>Choose the best time for you. Book with a click.</p>
          </div>
        </div>
        <div class="vc_row wpb_row vc_inner vc_row-fluid container columns-offset-30-max-width-768 ">
          <div class="row">
            <div class="wpb_column vc_column_container col-sm-12 col-md-3">
              <div class="wpb_wrapper">
                <div class="entry  feature">
                  <div class="entry-icon"><span class="icon-i-text-telephone"></span></div>
                  <div class="entry-data">
                    <div class="entry-header">
                      <div class="entry-title">Search doctor, 24/7</div>
                    </div><!-- header -->
                    <div class="entry-content">
                      <p>No waiting; no hold music</p>
                    </div>
                  </div><!-- data -->
                </div><!-- entry -->
              </div>
            </div><div class="wpb_column vc_column_container col-sm-12 col-md-3">
              <div class="wpb_wrapper">
                <div class="entry  feature accent-1-color">
                  <div class="entry-icon"><span class="icon-i-interpreter-services"></span></div>
                  <div class="entry-data">
                    <div class="entry-header">
                      <div class="entry-title">Choose best practice</div>
                    </div><!-- header -->
                    <div class="entry-content">
                      <p>No waiting; no hold music</p>
                    </div>
                  </div><!-- data -->
                </div><!-- entry -->
              </div>
            </div><div class="wpb_column vc_column_container col-sm-12 col-md-3">
              <div class="wpb_wrapper">
                <div class="entry  feature accent-2-color">
                  <div class="entry-icon"><span class="icon-i-ambulance"></span></div>
                  <div class="entry-data">
                    <div class="entry-header">
                      <div class="entry-title">Book appointment</div>
                    </div><!-- header -->
                    <div class="entry-content">
                      <p>No waiting; no hold music</p>
                    </div>
                  </div><!-- data -->
                </div><!-- entry -->
              </div>
            </div><div class="wpb_column vc_column_container col-sm-12 col-md-3">
              <div class="wpb_wrapper">
                <div class="entry  feature">
                  <div class="entry-icon"><span class="icon-i-family-practice"></span></div>
                  <div class="entry-data">
                    <div class="entry-header">
                      <div class="entry-title">Review service</div>
                    </div><!-- header -->
                    <div class="entry-content">
                      <p>No waiting; no hold music</p>
                    </div>
                  </div><!-- data -->
                </div><!-- entry -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
