<div class="vc_row wpb_row vc_row-fluid container vc_custom_1454000825135">
  <div class="row">
    <div class="wpb_column vc_column_container col-sm-12">
      <div class="wpb_wrapper">
        <h2 class="maintitle vc_custom_heading">Latest Health &amp; Medical News</h2>
        <div class="wpb_content_element  subtitle">
          <div class="wpb_wrapper">
            <p>Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>

          </div>
        </div>
        <div class="posts-list-wrapper  horizontal-list-3">
          <div class="posts-list masonry-post   horizontal-list-3" data-contents-per-item="1" data-width="640" data-height="480" data-stagepadding="0" data-margin="0" data-full-width="" data-center="" data-loop="">
            <div class="item">
              <div class="entry masonry-post post-31 post type-post status-publish format-standard has-post-thumbnail hentry category-nutrition tag-alternative-medicine">
                <div class="entry-thumbnail">

                  <a href="#11">
                    <div class="image lazy  loaded" data-src="assets/images/what-is-a-healthy-life-style-2.jpg" style="height: 480px; background-image: url('assets/images/what-is-a-healthy-life-style-2.jpg');" data-width="640" data-height="480">
                    </div>
                  </a>

                  <span class="categories-links"><span class="label">In: </span>
                  <a class="nutrition" href="#12" rel="category tag">Nutrition</a></span>
                </div>
                <div class="entry-data">
                  <div class="entry-header">
                    <h2 class="entry-title"><a href="#13" rel="bookmark">What’s difference between a nutritionist and a dietitian?</a></h2>
                    <div class="entry-meta">
                      <span class="date"><a href="#14" title="Permalink to What’s difference between a nutritionist and a dietitian?" rel="bookmark"><time class="entry-date" datetime="2015-10-03T00:59:01+00:00">October 3, 2015</time></a></span>
                    </div>
                  </div>

                  <div class="entry-footer">
                    <span class="comments">
                    <a href="#15"><span class="count">1</span>
                      <span class="label">comments</span>
                      </a>
                      </span>
                    <span class="like">
                    <span class="sl-wrapper">
                      <a href="#15" class="sl-button sl-button-31" data-nonce="ca0f4d09d9" data-post-id="31" data-iscomment="0" title="Like">
                      <span class="sl-icon">
                        <svg role="img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" viewBox="0 0 128 128" enable-background="new 0 0 128 128" xml:space="preserve">
                        <path d="M64 127.5C17.1 79.9 3.9 62.3 1 44.4c-3.5-22 12.2-43.9 36.7-43.9 10.5 0 20 4.2 26.4 11.2 6.3-7 15.9-11.2 26.4-11.2 24.3 0 40.2 21.8 36.7 43.9C124.2 62 111.9 78.9 64 127.5zM37.6 13.4c-9.9 0-18.2 5.2-22.3 13.8C5 49.5 28.4 72 64 109.2c35.7-37.3 59-59.8 48.6-82 -4.1-8.7-12.4-13.8-22.3-13.8 -15.9 0-22.7 13-26.4 19.2C60.6 26.8 54.4 13.4 37.6 13.4z"></path>
                          </svg>
                        </span>
                      <span class="sl-count">102</span>
                        </a>
                      <span class="sl-loader"></span>
                      </span>
                      </span>
                    <div class="entry-more"> <a href="#16" class="more-link">Read more</a></div>
                  </div>
                </div>
              </div>
            </div><div class="item">
              <div class="entry masonry-post post-45 post type-post status-publish format-gallery has-post-thumbnail hentry category-alternative-medicine tag-heart-disease post_format-post-format-gallery">
                <div class="entry-thumbnail">

                  <a href="#17">
                    <div class="image lazy  loaded" data-src="assets/images/469156185-lg-640x360.jpg" style="height: 480px; background-image: url('assets/images/469156185-lg-640x360.jpg');" data-width="640" data-height="480">
                    </div>
                  </a>

                  <span class="categories-links"><span class="label">In: </span><a class="alternative-medicine" href="#20" rel="category tag">Alternative Medicine</a></span>
                </div>
                <div class="entry-data">
                  <div class="entry-header">
                    <h2 class="entry-title"><a href="#21" rel="bookmark">Need a Dentist? Look for the Pacific Smiles Brands</a></h2>
                    <div class="entry-meta">
                      <span class="date"><a href="#22" title="Permalink to Need a Dentist? Look for the Pacific Smiles Brands" rel="bookmark"><time class="entry-date" datetime="2015-10-02T16:15:59+00:00">October 2, 2015</time></a></span>
                    </div>
                  </div>



                  <div class="entry-footer">
                    <span class="comments">
                    <a href="#23"><span class="count">0</span>
                      <span class="label">comments</span>
                      </a>
                      </span>
                    <span class="like"><span class="sl-wrapper">
                      <a href="#24" class="sl-button sl-button-45" data-nonce="ca0f4d09d9" data-post-id="45" data-iscomment="0" title="Like">
                      <span class="sl-icon">
                        <svg role="img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" viewBox="0 0 128 128" enable-background="new 0 0 128 128" xml:space="preserve">
                        <path d="M64 127.5C17.1 79.9 3.9 62.3 1 44.4c-3.5-22 12.2-43.9 36.7-43.9 10.5 0 20 4.2 26.4 11.2 6.3-7 15.9-11.2 26.4-11.2 24.3 0 40.2 21.8 36.7 43.9C124.2 62 111.9 78.9 64 127.5zM37.6 13.4c-9.9 0-18.2 5.2-22.3 13.8C5 49.5 28.4 72 64 109.2c35.7-37.3 59-59.8 48.6-82 -4.1-8.7-12.4-13.8-22.3-13.8 -15.9 0-22.7 13-26.4 19.2C60.6 26.8 54.4 13.4 37.6 13.4z"></path>
                          </svg>
                        </span>
                      <span class="sl-count">80</span>
                        </a>
                      <span class="sl-loader"></span>
                       </span>
                      </span>
                    <div class="entry-more"> <a href="#27" class="more-link">Read more</a></div>
                  </div>

                </div>
              </div>
            </div><div class="item">
              <div class="entry masonry-post post-43 post type-post status-publish format-video has-post-thumbnail hentry category-heart-disease tag-infectious-diseases post_format-post-format-video">
                <div class="entry-thumbnail">

                  <a href="#30">
                    <div class="image lazy  loaded" data-src="assets/images/family-practice-e1454250336417-640x480.jpg" style="height: 480px; background-image: url('assets/images/family-practice-e1454250336417-640x480.jpg');" data-width="640" data-height="480">
                    </div>
                  </a>

                  <span class="categories-links"><span class="label">In: </span><a class="heart-disease" href="#40" rel="category tag">Heart Disease</a></span>
                </div>
                <div class="entry-data">
                  <div class="entry-header">
                    <h2 class="entry-title"><a href="#41" rel="bookmark">The Healthy Christmas Tree for the Whole Family</a></h2>
                    <div class="entry-meta">
                      <span class="date"><a href="#42" title="Permalink to The Healthy Christmas Tree for the Whole Family" rel="bookmark"><time class="entry-date" datetime="2015-10-02T16:14:55+00:00">October 2, 2015</time></a></span>
                    </div>
                  </div>



                  <div class="entry-footer">
                    <span class="comments">
                    <a href="#43"><span class="count">3</span>
                      <span class="label">comments</span>
                      </a>
                      </span>
                    <span class="like"><span class="sl-wrapper"><a href="#44" class="sl-button sl-button-43" data-nonce="ca0f4d09d9" data-post-id="43" data-iscomment="0" title="Like">
                      <span class="sl-icon">
                      <svg role="img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" viewBox="0 0 128 128" enable-background="new 0 0 128 128" xml:space="preserve">
                        <path d="M64 127.5C17.1 79.9 3.9 62.3 1 44.4c-3.5-22 12.2-43.9 36.7-43.9 10.5 0 20 4.2 26.4 11.2 6.3-7 15.9-11.2 26.4-11.2 24.3 0 40.2 21.8 36.7 43.9C124.2 62 111.9 78.9 64 127.5zM37.6 13.4c-9.9 0-18.2 5.2-22.3 13.8C5 49.5 28.4 72 64 109.2c35.7-37.3 59-59.8 48.6-82 -4.1-8.7-12.4-13.8-22.3-13.8 -15.9 0-22.7 13-26.4 19.2C60.6 26.8 54.4 13.4 37.6 13.4z"></path>
                        </svg>
                        </span>
                      <span class="sl-count">80</span></a>
                      <span class="sl-loader"></span></span></span>
                    <div class="entry-more"> <a href="#46" class="more-link">Read more</a></div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
