<div class="vc_row wpb_row vc_row-fluid muted-background appcontent">
  <div class="row">
    <div class="h-padding-0 wpb_column col-sm-12">
      <div class="wpb_wrapper">
        <div class="vc_row wpb_row vc_inner vc_row-fluid container">
          <div class="row">
            <div class="wpb_column vc_column_container col-sm-2">
              <div class="wpb_wrapper"></div>
            </div>
            <div class="wpb_column vc_column_container col-sm-8">
              <div class="wpb_wrapper">
                <h1 class="vc_custom_heading bold main_title">Find and book a doctor / GP appointment right now.</h1>
                <div class="wpb_text_column wpb_content_element  dark large">
                  <div class="wpb_wrapper">
                    <p class="subtitle">Search Doctors and Book appointments online, instantly</p>
                  </div>
                </div>

                <div class="wpb_text_column wpb_content_element  close">
                  <div class="wpb_wrapper">
                    <form method="get" class="azqf-query-form search" action="">
                      <span class="toggle"></span>
                      <div class="wrapper">
                        <div class="taxonomy-dropdown product-cat-wrapper">
                          <div class="select2-container">
                            <ngx-select-dropdown [multiple]="false" name="singleSelect" [config]="config" [options]="options"></ngx-select-dropdown>
                          </div>                          
                        </div>
                        <div class="geo-location">
                          <div class="location">
                            <input name="location" type="text" placeholder="Location" value="" autocomplete="off">                            
                            <span class="locate"></span>
                          </div>
                          <div class="radius">                            
                            <div class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                              <input name="radius" type="number" placeholder="Radius (mi)" value="">
                              <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 0%;"></div>
                              <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 0%;"></span>
                            </div>
                          </div>
                        </div>
                        <div class="submit">
                          <input type="submit" value="Search">
                        </div>
                      </div>
                    </form>

                  </div>
                </div>
                <div class="entry  video dark videocustom">
                  <div class="entry-icon"><a class="iframe-popup" href="#1"><span class="fa fa-play-circle-o"></span></a></div>
                  
                </div><!-- entry -->
              </div>
            </div><div class="wpb_column vc_column_container col-sm-2"><div class="wpb_wrapper"></div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
